<!DOCTYPE html>
<html lang="en cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    {% block style %}{% endblock %}
</head>
<body>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <li><a href="{{ url_for('main') }}">主页面</a></li>
    <li><a href="{{ url_for('model_admin') }}">模型管理页面</a></li>
    <li><a href="{{ url_for('train_prepare') }}">训练准备页面</a></li>
    <li><a href="{{ url_for('predict_prepare') }}">预测准备页面</a></li>
</body>
</html>